.font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
.mo{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ag{
    margin-bottom: 100%;
}
.hbi{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hbi1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
hey